<a routerLink="/adduniversite" class="nav-item nav-link">Liste des Offres</a>


<div class="row g-2 justify-content-center">
  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="course-item bg-light">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid" src="/assets/img/campus.png" alt="">
        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
         
        </div>
      </div>
      <div class="text-center p-4 pb-0">
        <h3 class="mb-0"> </h3>
       
        <div class="mb-3">
          <small class="fa fa-star text-danger"></small>
          <small class="fa fa-star text-danger"></small>
          <small class="fa fa-star text-danger"></small>
          <small class="fa fa-star text-danger"></small>
          <small class="fa fa-star text-danger"></small>
          <small></small>
        </div>
        <div class="mb-3">
         <h5>Campus France propose une mobilité internationale pour les étudiants intéressés par le spécialité génie logiciel</h5>
        </div>
        <div class="mb-3">

          <a href="addCandidature" class="btn btn-danger">Postuler<i class="fa fa-arrow-right ms-3"></i></a>
         
         </div>
        
      </div>

    </div>
  </div>
</div>




